<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="perfil-container">
    <img src="../../../assets/perfil.jpg" class="" id="perfil" />
  </div>
  <div class="dato col-xs-12 col-sm-2 col-md-2 col-lg-2" id="dato">
    <p id="name">{{Persona.nombre}} {{Persona.apellido}}</p>
    <p>Full Stack Development Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acerca">
    <span>
      <h1>Acerca de mi</h1>
      <p>
        !!Hola Bienvenido!! Soy Carlos un amante a la tecnología, estudiante de ingeniería en sistemas, apuntando ser un
        Desarrollador Web busco siempre estar al día, soy responsable, curioso y empático. Me encanta formar parte de
        proyectos para crecer mis habilidades y mi profesionalismo en el rubro.
      </p>
    </span>
  </div>
</div>