*{
    padding: 0;
}
.social-logo{
    background-color: #483b9cde;
    margin: 0;
    width: 100%;
    position:relative;
    box-shadow: 0 6px 6px -6px #000000ec;
}
.banner{
    background-color: #2c284b3d;
    width: 100%;  
}