<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-10">
      <ul>
        <li>
          <h2>Trabajo 1</h2>
          -
          <h3>(años)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
          molestiae adipisci necessitatibus culpa provident. Temporibus quibusdam
          assumenda perspiciatis atque asperiores? Fuga impedit reiciendis quidem
          illo nulla fugiat dicta quis quaerat!
        </p>
      </ul>
      <ul>
          <li>
            <h2>Trabajo 2</h2>
            -
            <h3>(años)</h3>
          </li>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
            molestiae adipisci necessitatibus culpa provident. Temporibus quibusdam
            assumenda perspiciatis atque asperiores? Fuga impedit reiciendis quidem
            illo nulla fugiat dicta quis quaerat!
          </p>
        </ul>
        <ul>
          <li>
            <h2>Trabajo 3</h2>
            -
            <h3>(años)</h3>
          </li>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
            molestiae adipisci necessitatibus culpa provident. Temporibus quibusdam
            assumenda perspiciatis atque asperiores? Fuga impedit reiciendis quidem
            illo nulla fugiat dicta quis quaerat!
          </p>
        </ul>
    </div>
  </div>
  
