/* .nav-menu {
    display: none;
  }
  
  .nav-item{
    color: #fff;
    text-decoration:none;
  }
  .nav-label,.nav.input{
    display: none;
    text-decoration: none;
  }
  @media(max-width:767px){
    
    .icon-img{
      display: none;
    }
    .nav-label{
      display: block;
      cursor: pointer;
    }
    .nav-menu{
      position:fixed;
      top:70px;
      background-color:rgb(62, 21, 109);
      bottom:0;
      left:0;
      width:100%;
      display:flex;
      justify-content:space-evenly;
      flex-direction: column;
      align-items: center;
      clip-path: circle(0 at center);
      transition:clip-path 1s ease;
    }
    .nav-input:checked + .nav-menu{
      clip-path: circle(100% at center);
    }
  } */