<!-- 
      <div class="navbar navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          
            <label for="menu" class="nav-label navbar-toggler">
              <img src="../../../assets/list.svg" alt="">
            </label>
      
            <input type="checkbox" id="menu" class="nav-input">
            <div class="nav-menu">
              <a href="" id="" class="nav-item">Facebook</a>
              <a href="" class="nav-item">Instagram</a>
              <a href="" class="nav-item">Likelin</a>
            </div>
        </div>
        </div> -->