<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="perfil-container">
    <img src="../../../assets/perfil.jpg" class="img-fluid" id="perfil"/>
  </div>
  <div class="dato col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name">Gomez Carlos Andres</p>
    <p>Full Stack Development Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        voluptates placeat ipsum nisi magnam? Voluptatibus aperiam corrupti
        natus ad similique molestias. Quisquam, deleniti? Voluptatibus nobis
        minus commodi cum voluptas odio!
      </p>
    </span>
  </div>
</div>
