.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#AppLogo {
  width: 7.5rem;
  margin-left: 3rem;
}

.icono svg {
  width: 30px;
  height: 30px;
  margin: 8px;
  color: rgb(219, 219, 219);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.icon-img {
  margin-right: 120px;
  position: relative;
}
.icono svg:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}
button {
  padding: 10px 12px;
  font-size: 13px;
  line-height: 8px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login {
  position: absolute;
  top: calc(50% - 17px);
  margin-left: 8px;
  color: rgba(219, 219, 219);
  border-color: rgba(219, 219, 219);
}
.login:hover {
  color: #483b9c;
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  transition: all 0.3s;
}
