<div class="row">
  <div class="skill text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#e44d26'"
      [innerStrokeColor]="'#e9804f'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
  </div>
  <div class="skill text-center col-sm-4 col-md-4 col-lg-4 col-xs-2">
    <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#2277ff'"
      [innerStrokeColor]="'#3399ff'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
  </div>
  <div class="skill text-center col-sm-4 col-md-4 col-lg-4 col-xs-2">
    <circle-progress
      [percent]="40"
      [radius]="100"
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#dab92d'"
      [innerStrokeColor]="'#ffd83a'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
  </div>
  <div class="skill text-center col-sm-4 col-md-4 col-lg-4 col-xs-2">
    <circle-progress
      [percent]="40"
      [radius]="100"
      [imageSrc]="'../assets/angular-logo.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#b52e31'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
  </div>
  <div class="skill text-center col-sm-4 col-md-4 col-lg-4 col-xs-2">
    <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'../assets/git-logo.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#000000'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
  </div>
  <div class="skill text-center col-sm-4 col-md-4 col-lg-4 col-xs-2">
    <circle-progress
      [percent]="55"
      [radius]="100"
      [imageSrc]="'../assets/java-logo.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#e76f00'"
      [innerStrokeColor]="'#5382a1'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
  </div>
</div>
